
.person-container {
  border-bottom: 1px solid #333;
}

#jochoa {
  padding: 10px;
  background-color: #55f;
  color: #fff;
}

#jochoa h2 {
  font-size: 2em;
}

#trau.person-container {
  background: lightblue;
  padding: 0.5em;
}
#trau ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#trau li {
  border: 1px solid purple;
  margin: 0.5em;
  padding: 0.5em;
  color: purple;
  border-radius: 0.3em;
  transition: 0.5s;
}

#trau li:hover {
  color: white;
  background: #333;
}

#sdana.person-container {
  background: rgb(49, 139, 126);
  padding: 0.5em;
  color: white;
}
